        <!-- insert scripts here -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>


        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>

        
            var canvaselement=document.getElementById("barchart");
            var lbl=[]
            var chartdata=[]
    
    
    <% 
            var monthnames=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
                for(let i=0;i<monthlysale.length;i++) {%>
    
                    lbl.push("<%=monthnames[monthlysale[i]._id.month-1]%>"+"-"+"<%=monthlysale[i]._id.year%>")
                    chartdata.push(<%=monthlysale[i].total%>)
                <%}%>
     
            var config={
            
                type : "bar",
               
                data: {
    
    
                    labels: lbl,
                    datasets:[
                        {
                            label:"Sales",
                            data:chartdata, 
                            backgroundColor: '#ff5349',
                        }]
                        },
    
    options: {
        responsive: true
        
    }
    
           
            };
        
            var chart= new Chart(canvaselement,config);
           
        
    
    </script>



<script>

    
    var canvaselement=document.getElementById("doughnut");
 
    var config={
    
        type : "doughnut",
    
        data: {

            labels: ["COD","Paypal"],
            datasets:[
                {
                    label:"Sales",
                    data: [<%=totalCod%>,<%=totalPaypal%>],
                    
                }]
                },

options: {
responsive: true

}

   
    };

    var chart= new Chart(canvaselement,config);
    


</script>
    </body>
</html>